@model BookAuthor.Models.CreateModel;
@{
   
}

<h1>Create Author</h1>
<form class="post" action="Create" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Author_Name</label>
        <input type="text" class="form-control" asp-controller="Authors">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Book_Name</label>
        <input type="text" class="form-control" asp-controller="Authors" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-controller="Authors" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    
    


</form>
